<?xml version="1.0"?>
<config>
    <modules>
        <Zota_SmartPopupBox>
            <version>1.1.1</version>
        </Zota_SmartPopupBox>
    </modules>

    <global>
        <blocks>
            <smartpopupbox>
                <class>Zota_SmartPopupBox_Block</class>
            </smartpopupbox>
        </blocks>
        <helpers>
            <smartpopupbox>
                <class>Zota_SmartPopupBox_Helper</class>
            </smartpopupbox>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Zota_SmartPopupBox>
                    <files>
                        <default>Zota_SmartPopupBox.csv</default>
                    </files>
                </Zota_SmartPopupBox>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Zota_SmartPopupBox>
                    <files>
                        <default>Zota_SmartPopupBox.csv</default>
                    </files>
                </Zota_SmartPopupBox>
            </modules>
        </translate>
        <layout>
            <updates>
                <smartpopupbox>
                    <file>smartpopupbox.xml</file>
                </smartpopupbox>
            </updates>
        </layout>
    </frontend>
</config>
